:root {
  --app-light: #fff;
  --app-dark: #fff;

  --app-text-dark: #202020;
  --app-text-light: #fff;
  --app-text-gray: #505050;

  --app-header-dark: rgb(53, 50, 58);
  --app-back-btn-dark: rgb(53, 50, 58);
  --app-input-select-dark: rgb(53, 50, 58);
  --app-base-light: rgb(243, 242, 242);
  --app-base-dark: rgb(59, 53, 65);
  --app-light-card: #fff;
  --app-card-dark: rgb(53, 50, 58);
}
